extends: default.liquid
---
Warning: these poems don't rhyme, are poor pastiches and predictable cliches. For real
poetry, please see <a href="https://en.wikipedia.org/wiki/John_Hegley">John Hegley</a>.

{% for post in posts %}
  <ul>
    <li><a href="{{post.path}}">{{ post.title }}</a></li>
  </ul>
{% endfor %}
